@import '../styles.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.bg-background {
  background-color: var(--background);
  color: var(--foreground);
}

.bg-card {
  background-color: var(--card);
  color: var(--card-foreground);
}

.text-primary {
  color: var(--primary) !important;
}

.text-muted-foreground {
  color: var(--muted-foreground);
}

.border-b {
  border-bottom: 1px solid var(--border);
}

.border-border {
  border-color: var(--border);
}
