
@if (place) {
<div class="place-details">
  <div class="place-details-header">

    <div class="place-info">
      <div class="place-header">
        <h2 class="place-name">{{ place.name }}</h2>
        <span class="place-type {{ place.type }}">{{ getPlaceTypeLabel(place.type) }}</span>
      </div>
      <div class="place-meta">
        @if (place.priceLevel) {
          <div class="place-rating">
            <span class="rating-value">Price:</span>
            @for (i of range(place.priceLevel); track i ) {
              <span class="rating-star">$</span>
            }

          </div>
        }
        @if (place.rating) {
          <div class="place-rating">
            <span class="rating-value">{{ place.rating }}</span>
            <span class="rating-star">★</span>
            <span class="rating-value" style="margin-left: 0.25rem;">{{ place.reviews }} reviews</span>
          </div>
        }
      </div>

      <div class="place-address">
        <i class="location-icon">📍</i>
        {{ place.address }}
      </div>
    </div>
  </div>

  <div class="place-details-content">
    <app-busy-time-chart [busyTimes]="place.busyTimes"></app-busy-time-chart>
  </div>
</div>
} @else {
<div class="no-place-selected">
<div class="message">
<h3>No place selected</h3>
<p>Select a place from the list to see detailed information and busy times.</p>
</div>
</div>
}
